<header class="header">
    <div class="container">
        <a class="logo" href="">
            <svg class="logo__ice">
                <use href="/img/icons/symbol-defs.svg#icon-ice-logo"></use>
            </svg>
            <p class="logo__text">ce</p>
        </a>
        <nav class="header__nav">
            <ul class="header__nav__list">
                <li class="header__nav__item">
                    <a href="index.html" class="header__nav__link">Home</a>
                </li>
                <li class="header__nav__item">
                    <a href="#" class="header__nav__link">How it’s made?</a>
                </li>
                <li class="header__nav__item">
                    <a href="#" class="header__nav__link">Our products</a>
                </li>
                <li class="header__nav__item">
                    <a href="#" class="header__nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="header__btn" type="button">
            <p class="header__btn__text">Buy now</p>
            <svg class="header__btn__arrow">
                <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
</header>