<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <div class="hero__thumb">
            <button class="hero__button">Products</button>
            <a href="#" class="hero__link">How it's made?</a>
        </div>
        <div class="hero__nice">
            <p class="hero__text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            <svg class="hero__icon">
                <use href="../img/icons/symbol-defs.svg"></use>
            </svg>
        </div>
        <ul class="hero__info__list">
            <li class="hero__info__item">16</li>
            <p class="hero__info__text">cafes</p>
            <li class="hero__info__item">23</li>
            <p class="hero__info__text">food trucks</p>
        </ul>
    </div>
</section>