<section class="products">
    <div class="container">
        <h3 class="products__sub-title">100% natural</h3>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <img class="products__item__img" src="" alt="">
                <h4 class="products__item__title">ice cream</h4>
                <p class="products__item__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <a class="products__item__link" href="">
                    <svg class="products__item__svg">
                        <use class="products__item__icon" href="/img/icons/#icon-arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <img class="products__item__img" src="" alt="">
                <h4 class="products__item__title">ice coffee</h4>
                <p class="products__item__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <a class="products__item__link" href="">
                    <svg class="products__item__svg">
                        <use class="products__item__icon" href="/img/icons/#icon-arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <img class="products__item__img" src="" alt="">
                <h4 class="products__item__title">milkshakes</h4>
                <p class="products__item__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <a class="products__item__link" href="">
                    <svg class="products__item__svg">
                        <use class="products__item__icon" href="/img/icons/#icon-arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>